:root{
    --main-background-color: white;
    --main-secondary-color: gray;
    --main-foreground-color: black;

    font-size: 16px;
}

@font-face {
    font-family: 'Playfair';
    src: url('./assets/fonts/Playfair_Display/plain.ttf');
}

body{
    font-family: 'Playfair';
}

header{
    display: flex;
    align-items: center;
    max-width: 1000px;

    margin: 100px auto 0 auto;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
}

.background-asset{
    position: absolute;
    width: 100dvw;
    height: 100%;
    top: 0;
    left: 0;

    transform: skewY(-5deg) translateY(-50%);
    background-color: var(--main-foreground-color);   
}

.hero-image-section{
    position: relative;

    background-color: var(--main-background-color);
 
    padding: 20px;
    box-shadow: 2px 2px 10px var(--main-secondary-color);  

    z-index: 1;
}

.hero-paragraph-section{
    position: relative;

    background-color: var(--main-background-color);

    border: 1px solid var(--main-foreground-color);
    padding: 30px;
    left: -10px;
}

@media (max-width: 768px) {
    header{
        flex-direction: column;
    }

    .hero-paragraph-section{
        position: static;
    }
}

.icon{
    font-size: 1.5rem;
}

.icon-button{
    border: 0;
    cursor: pointer;

    background-color: var(--main-background-color);
}

.icon-container{
    display: flex;
    justify-content: right;
    gap: 5px;
}