:root{
    --main-background-color: white;
    --main-secondary-color: gray;
    --main-foreground-color: black;

    font-size: 16px;
}

@font-face {
    font-family: 'Playfair';
    src: url('./assets/fonts/Playfair_Display/plain.ttf');
}

body{
    display: flex;
    flex-direction: column;

    font-family: 'Playfair';

    margin: 0;

    min-height: 100dvh;
}

header{
    display: flex;
    align-items: center;
    max-width: 1000px;

    margin: 100px auto 100px auto;

    flex: 1;
}

main{
    margin: 30px;
    flex: 1;
}

footer{
    color: var(--main-background-color);
    background-color: var(--main-foreground-color);
    padding: 20px;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
    margin: 0;
}

.background-asset{
    position: absolute;
    width: 100%;
    height: 800px;
    top: 0;
    left: 0;

    transform: skewY(-5deg) translateY(-50%);
    background-color: var(--main-foreground-color);   
}

.hero-image-section{
    position: relative;

    background-color: var(--main-background-color);
 
    padding: 20px;
    box-shadow: 2px 2px 10px var(--main-secondary-color);  

    z-index: 1;
}

.hero-paragraph-section{
    position: relative;

    background-color: var(--main-background-color);

    border: 1px solid var(--main-foreground-color);
    padding: 30px;
    left: -10px;
}

.icon{
    font-size: 1.5rem;
}

.icon-button{
    border: 0;
    cursor: pointer;

    background-color: var(--main-background-color);
}

.icon-container{
    display: flex;
    justify-content: right;
    gap: 5px;
}

.phone-contact, .mail-contact{
    display: flex;
    gap: 10px;
}

.phone-contact svg, .mail-contact svg{
    fill: white;
    width: 1.5rem;
}

.my-projects{
    text-align: center;
}

.projects-container{
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.projects-container > div{
    height: 300px;
    background-color: var(--main-foreground-color);
}


@media (max-width: 768px) {
    header{
        flex-direction: column;
    }

    .hero-paragraph-section{
        position: static;
    }

    .projects-container{
        grid-template-columns: 1fr;
    }
}