:root{
    --main-background-color: white;
    --main-secondary-color: gray;
    --main-foreground-color: black;

    font-size: 16px;
}

header{
    display: flex;
    align-items: center;
    max-width: 1000px;

    margin: 100px auto 0 auto;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
}

.hero-image-section{
    position: relative;

    background-color: var(--main-background-color);
 
    padding: 20px;
    box-shadow: 5px 5px 10px var(--main-secondary-color);  

    z-index: 1;
}

.hero-paragraph-section{
    position: relative;

    border: 1px solid var(--main-foreground-color);
    padding: 30px;
    left: -10px;
}

.icon{
    font-size: 1.5rem;
}

.icon-button{
    border: 0;
    cursor: pointer;

    background-color: var(--main-background-color);
}

.icon-container{
    display: flex;
    justify-content: right;
    gap: 5px;
}